*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#buttonnav{
    background-color: transparent;
    border: none;
  }


body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

<<<<<<< HEAD
#fondo-home {
    width: 320px;
    height: 610px;
    background: white;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 54%;
    position: absolute;
    transform: translate(-55%, -50%);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10%;
}
#fondo-login {
    width: 320px;
    height: 610px;
=======
#fondo {
    width: 370px;
    height: 520px;
>>>>>>> parent of e984963 (css)
    background: white;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10%;
}
#fondo-post {
    width: 370px;
    height: 610px;
    background: white;
    color: rgb(0, 0, 0);
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
}
#fondo-register {
    width: 300px;
    height: 610px;
    background: white;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
}
<<<<<<< HEAD
=======

.logo-destinos1{
    width:70%;
    height:30%;
    position: absolute;
    top: 10px;
    left: calc(30% - 50px);
}

/* home */
 #welcome{
position: relative;
top: 30%;
} 

>>>>>>> parent of e984963 (css)
button{
    margin-top: 10px;
    height: 37px;
    width: 48%;
    border-radius: 8px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color:  rgba(100,201,167,255);
    }
.btn-register{
    margin-top: 15px;
    height: 37px;
    width: 50%;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color:  rgba(100,201,167,255);
}
#tittle-login {
    margin-top: 10px;
    font-size: x-large;
}
.logo-destinos0-home{
    margin-top:10px;
    width:80%;
    height:25%;
    position: absolute;
    left: calc(27% - 50px);
}
.logo-destinos0-register{
    top: 10px;
    width:80%;
    height:25%;
    position: absolute;
    left: calc(27% - 50px);
}
.logo-destinos1-home{
    margin-top:10px;
    width:75%;
    height:50%;
    position: absolute;
    top: 120px;
    left: calc(27% - 50px);
}

.logo-destinos1-login{
    margin-top:10px;
    width:65%;
    height:40%;
    position: absolute;
    top: 125px;
    left: calc(35% - 50px);
}

.title {
    margin-top: 60px;
    font-size: x-large;
}
.title-home {
    margin-top: 420px;
}
p{
    color:rgb(0, 0, 0);
    padding: 5px;
    margin: 10px;
    font-size: xx-large;
    text-align: center;
    font-weight:bolder;
    }
#p-post-author{
    position: relative;
    background: #D9F7DC;
    color: rgb(0, 0, 0);
    font-family: helvetica, sans-serif;
    align-content: center;
    border-radius:10px;
    width: 95vw;
    font-size: small;
    text-align: center;
}
.textWelcome, a{
    color:rgb(0,0,0);
    font-size: medium;
    text-align: center;
    font-weight:bolder;
    }

.flexbox{
    display: flex;
<<<<<<< HEAD
    flex-direction: column;
    align-items:center;
    margin-top: 5px;
    height: 8%;
    width: 98%;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
    border: 1px solid #fff;
    outline: none;
    background: #fff;
    }
.loginForm{
    position: relative;
    background: rgba(255,227,179,255);
    padding: 5px 5px;
    font-family: helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    width: 94%;
    height: 35%;
    left: 3%;
    margin-top: 370px;
=======
    justify-content: center; 
    column-gap: 10px;
}

/* Login */
.loginForm{
    position: relative;
    top: 15%;
   left: 20px;
    justify-content: space-between;

>>>>>>> parent of e984963 (css)
}
.SingUpBox{
    position: relative;
    padding: 10px 10px 10px 10px;
    font-family: helvetica, sans-serif;
    text-align: center;
    border-radius:10px;
    width: 80%;  /* Or whatever */
    height: 50%;
    top: 35%;
    left: 5%;
}
.form-control{
    position: relative;
<<<<<<< HEAD
    right: 1px;
    padding: 10px 0px 0px 0px;
=======
    margin-left: -5%;
    padding: 5px 5px 5px 5px;
>>>>>>> parent of e984963 (css)
    font-family: helvetica, sans-serif;
    text-align: center;
    border-radius:10px;
    min-width:100%;
    height: 60%;
    border: 1px solid rgba(255,227,179,255);
    outline: none;
    background: rgba(255,227,179,255)
}
#iniciar-sesion #registrarse{
    font-size: x-large;
    text-align: center;
 
}


.form-login{
    padding: 5px 5px 5px 5px;
} 
/* register */
.signUpForm{
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: rgba(255,227,179,255);
    padding: 5px 5px;
    font-family: helvetica, sans-serif;
    border-radius:10px;
    width: 70%;
    height: 95%;
    margin-top: 60px;
    margin-left: 15%;
  
}
/* .create-Post{
    width: 100%;
    height: 89%;
    margin-top: 90px;
    margin-left: 1%;
}
.passwordContainer{
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
}

.create-Post{
=======
    position: relative;
    top: 15%;
   left: 20px;
    justify-content: space-between;


}  
 .create-Post{
>>>>>>> parent of e984963 (css)
    display: flex;
    flex-direction: column;
    background: rgba(255,227,179,255);
    font-family: helvetica, sans-serif;
    border-radius:10px;
<<<<<<< HEAD
    width: 96vw;
    height: 40%;

=======
    width: 70%;  
    height: 40%;
    margin-top: -20px;
    margin-left: 15%;
>>>>>>> parent of e984963 (css)
}
.welcome-wrapper{
    padding:0.1em
}
.form-error-none{
    font-size: medium;
    text-align: center;
    padding: 3px 3px 3px 3px;
    }
#password{
    margin-top: 10px;
}
#create-Post {
<<<<<<< HEAD
    background: white;
    border: 3px solid rgba(100,201,167,255);
    padding: 5px 5px 5px 5px;
    font-family: helvetica, sans-serif;
    border-radius:10px;
    width:100vw;
    align-items: center;
}
#post-Container{
    background: #D9F7DC;
    border: 3px solid rgba(100,201,167,255);
    padding: 5px 5px 5px 5px;
    font-family: helvetica, sans-serif;
    border-radius:10px;
    text-align: center;
    width:100vw;
    margin-top: 10px;
    left: 1%;
    align-items: center;
}
#interaction{
    background: #D9F7DC;
    font-family: helvetica, sans-serif;
    border-radius:10px;
    text-align: center;
    width:95vw;
    align-items: center;
=======
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    margin-inline: -300px;
>>>>>>> parent of e984963 (css)
}
#btn-publicar {
    width: 25%;
    height: 30px;
    border-radius: 8px;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color: rgba(100,201,167,255);
    margin: 5px;
}

textarea, #post-public {
    position: relative;
    background: white;
    border-color: #88ddb5;
    padding: 10px 0px 0px 0px;
    font-family: helvetica, sans-serif;
    align-content: center;
    text-align: center;
    border-radius:10px;
    width: 96vw;
}
.post-public {
    position: relative;
    background: white;
    padding: 10px 10px 10px 10px;
    font-family: helvetica, sans-serif;
    align-content: center;
    border-radius:10px;
<<<<<<< HEAD
    width: 318px;  /* Or whatever 
    height: 50%;
    margin-top: 1px;
    left: 1%;
}*/
=======
    width: 360px;  /* Or whatever */
    margin-top: 20px;
    left: 210px;
}
>>>>>>> parent of e984963 (css)
.btn-borrar {
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 30px;
    border-radius: 8px;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color: rgba(100,201,167,255);
}
.btn-edit {
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 30px;
    border-radius: 8px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color: rgba(100,201,167,255);
}

.cerrar-sesion{
    width:70px;
    height:50px;
    display: flex;
    justify-content: center;
    margin-top: -10em;
    margin-inline: 1200px;
}
 
/* navbar */
:root {
    --pink: #88ddb5;
  }
  
  #navbar {
    width: 100vw;
    background-color: #fcfcfc;
<<<<<<< HEAD
}
ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    padding: 5px 0px 0px 0px;
}

li a {
    padding-right: 3em;
    position: relative;
    transition: all ease-in-out 250ms;
}
li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--pink);
    bottom: -1em;
    transition: all ease-in-out 250ms;
}
li a:hover::after {
    width: 60%;
}

li a:hover {
    color: var(--pink);
}

li:first-child {
    margin-right: auto;
    margin-left: 3em;
}

#all-posts{
    width:98%;
    height: 90%;
    display: block;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-top: 15px;
    align-content: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    width:340px;
    margin-top: 1em;
    left: 15px;
    margin-inline: 220px;
    margin-left: 10px;
}
=======
    font-weight: bold;
  
  }
    ul {
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1em 0;
    }
  
    li a {
      padding-right: 3em;
      position: relative;
      transition: all ease-in-out 250ms;
    }

  
    li a::after {
      content: "";
      position: absolute;
      display: block;
      height: 0.4em;
      width: 0%;
      background-color: var(--pink);
      bottom: -1em;
      transition: all ease-in-out 250ms;
    }
  
    li a:hover::after {
      width: 60%;
    }
  
    li a:hover {
      color: var(--pink);
    }
  
    li:first-child {
      margin-right: auto;
      margin-left: 3em;
    }
>>>>>>> parent of e984963 (css)
