*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#buttonnav{
    background-color: transparent;
    border: none;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#fondo {
    width: 370px;
    height: 520px;
    background: white;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
}

#fondo-post {
    width: 370px;
    height: 520px;
    background: white;
    color: rgb(0, 0, 0);
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
}

.logo-destinos0{
    width:65%;
    height:25%;
    position: absolute;
    top: 20px;
    left: calc(30% - 50px);

}

.logo-destinos1{
    width:55%;
    height:50%;
    position: relative;
    top: 60px;
    left: calc(40% - 50px);

}

button{
    margin-top: 10px;
    width: 48%;
    height: 37px;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color:  rgba(100,201,167,255);

    }
#tittle-login {
    margin-top: 2px;
    font-size: x-large;
}
.title {
    margin-top: 60px;
    font-size: x-large;
}
p{
    color:rgb(0, 0, 0);
    padding: 5px;
    font-size: medium;
    text-align: center;
    font-weight:bolder;
    }
.textWelcome, a{
    color:rgb(4,);
    font-size: medium;
    text-align: center;
    font-weight:bolder;
    }

.formBox{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 5px;
    height: 8%;
    min-width:50%;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #fff;
    outline: none;
    background: #fff;
    }
.loginForm{
    position: relative;
    background: rgba(255,227,179,255);
    padding: 0.5em 0.5em;
    font-family: helvetica, sans-serif;
    text-align: center;
    border-radius:10px;
    width: 85%;
    height: 50%;
    top: 13%;
    left: 7%;

}
.SingUpBox{
    position: relative;
    background: rgba(255,227,179,255);
    font-family: helvetica, sans-serif;
    text-align: center;
    border-radius:10px;
    width: 80%;
    left: 15%;
}
.form-control{
    position: relative;
    right: 15px;
    padding: 10px 0px 0px 0px;
    font-family: helvetica, sans-serif;
    text-align: center;
    border-radius:10px;
    min-width:60%;
    height: 60%;
    border: 1px solid #fff;
    outline: none;
    background: #fff;
}
.form-login{
    padding: 5px 5px 5px 5px;
}
.signUpForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(255,227,179,255);
    padding: 10px 10px;
    font-family: helvetica, sans-serif;
    border-radius:10px;
    width: 70%;
    height: 95%;
    margin-top: 60px;
    margin-left: 15%;
}
.create-Post{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(255,227,179,255);
    padding: 0.5em 0.5em;
    font-family: helvetica, sans-serif;
    border-radius:10px;
    width: 70%;  /* Or whatever */
    height: 40%;
    margin-top: -20px;
    margin-left: 15%;
}
.welcome-wrapper{
    padding:0.1em;
    margin-top: 10px;
}
.form-error-none{
    font-size: medium;
    text-align: start;
    padding: 10px 10px 10px 10px;
    }
#create-Post {
    background: white;
    border: 3px solid rgba(100,201,167,255);
    padding: 10px 10px 10px 10px;
    font-family: helvetica, sans-serif;
    align-content: center;
    justify-content: center;
    border-radius:10px;
    width:340px;
    align-items: center;
    margin-top: 1em;
    left: 15px;
    margin-inline: 220px;
}
#btn-publicar {
    width: 15%;
    height: 30px;
    border-radius: 8px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color: rgba(100,201,167,255);
    margin: 5px;
}
textarea.post-public {
    position: relative;
    background: white;
    padding: 10px 10px 10px 10px;
    font-family: helvetica, sans-serif;
    align-content: center;
    border-radius:10px;
    width: 340px;  /* Or whatever */
    height: 50%;
    margin-top: 2px;
    left: 1px;
}
textarea, #post-tittle {
    position: relative;
    background: white;
    border-color: #88ddb5;
    padding: 10px 10px 10px 10px;
    font-family: helvetica, sans-serif;
    align-content: center;
    border-radius:10px;
    width: 318px;  /* Or whatever */
    height: 50%;
    margin-top: 1px;
    left: 1%;
}
.post-public {
    position: relative;
    background: white;
    padding: 10px 10px 10px 10px;
    font-family: helvetica, sans-serif;
    align-content: center;
    border-radius:10px;
    width: 360px;  /* Or whatever */
    margin-top: 20px;
    left: 210px;
}
.btn-borrar {
    width: 20%;
    height: 30px;
    border-radius: 8px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color: rgba(100,201,167,255);
    margin-left: 0%;
}
.btn-edit {
    width: 20%;
    height: 30px;
    border-radius: 8px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color: rgba(100,201,167,255);
    margin-left: 0%;
}

.cerrar-sesion{
    width:70px;
    height:50px;
    display: flex;
    justify-content: center;
    margin-top: -10em;
    margin-inline: 1200px;
}
/* navbar */
:root {
    --green: #88ddb5;
}

#navbar {
    width: 100vw;
}
header {
    background-color: #fcfcfc;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 1em 0px 0px 160px;
}

li a {
    padding-right: 3em;
    position: relative;
    transition: all ease-in-out 250ms;
}
li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--pink);
    bottom: -1em;
    transition: all ease-in-out 250ms;
}
li a:hover::after {
    width: 60%;
}

li a:hover {
    color: var(--pink);
}

li:first-child {
    margin-right: auto;
    margin-left: 3em;
}

