*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo-destinos2{
    width:20%;
    height:15%;
    position: absolute;
    padding: 5px;
    margin-left: 12em;
    margin-top: 6em;

}

.logo-destinos1{
    width:37%;
    height:15%;
    position: relative;
    margin-left: 10em;
    margin-top: 3em;
}

form {
    position: relative;
    background: rgba(255,227,179,255);
    padding: 2em 1em;
    font-family: helvetica, sans-serif;
    border-radius:10px;
    width: 30%;  /* Or whatever */
    height: 60%;
    top: 30%;
    left: 57%;
    overflow-x:auto;
    margin-top: -27em;
    }

button{
    width: 45%;
    height: 30px;
    border-radius: 8px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 16px;
    border-color:  rgba(100,201,167,255);

    }

p{
    color:rgb(0, 0, 0);
    font-size: x-large;
    text-align: center;
    font-weight:bolder;
    }

.formBox{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 5px;
    height: 30px;
    min-width: 340px;
    border-radius: 30px;
    padding: 18px 10px 18px 28px;
    border: 1px solid #fff;
    outline: none;
    background: #fff;
    }

.form-error-none{
    font-size: smaller;
    padding: 18px 10px 18px 28px;
    }
.titulo-header{
    width:300px;
    height:100px;
    margin-top: 4em;
    margin-inline: 550px;
}
#createPost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
    margin-inline: -300px;
}

.cerrar-sesion{
    width:70px;
    height:50px;
    display: flex;
    justify-content: center;
    margin-top: -10em;
    margin-inline: 1200px;
}

