*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#buttonnav{
    background-color: transparent;
    border: none;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#fondo-home {
    width: 320px;
    height: 610px;
    background: white;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 54%;
    position: absolute;
    transform: translate(-55%, -50%);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10%;
}
#fondo-login {
    width: 320px;
    height: 610px;
    background: white;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 10%;
}
#fondo-post {
    width: 370px;
    height: 610px;
    background: white;
    color: rgb(0, 0, 0);
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
}
#fondo-register {
    width: 300px;
    height: 610px;
    background: white;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
}
button{
    margin-top: 10px;
    height: 37px;
    width: 48%;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color:  rgba(100,201,167,255);
    }
.btn-register{
    margin-top: 15px;
    height: 37px;
    width: 50%;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color:  rgba(100,201,167,255);
}
#tittle-login {
    margin-top: 10px;
    font-size: x-large;
}
.logo-destinos0-home{
    margin-top:10px;
    width:80%;
    height:25%;
    position: absolute;
    left: calc(27% - 50px);
}
.logo-destinos0-register{
    top: 10px;
    width:80%;
    height:25%;
    position: absolute;
    left: calc(27% - 50px);
}
.logo-destinos1-home{
    margin-top:10px;
    width:75%;
    height:50%;
    position: absolute;
    top: 120px;
    left: calc(27% - 50px);
}

.logo-destinos1-login{
    margin-top:10px;
    width:65%;
    height:40%;
    position: absolute;
    top: 125px;
    left: calc(35% - 50px);
}

.title {
    margin-top: 60px;
    font-size: x-large;
}
.title-home {
    margin-top: 420px;
}
p{
    color:rgb(0, 0, 0);
    padding: 5px;
    font-size: medium;
    text-align: center;
    font-weight:bolder;
    }
#post-author{
    position: relative;
    background: white;
    border-color: #88ddb5;
    padding: 10px 10px 10px 10px;
    font-family: helvetica, sans-serif;
    align-content: center;
    border-radius:10px;
    width: 318px;  /* Or whatever */
    height: 50%;
    margin-top: 1px;
    left: 1%;
    color:rgb(120,120,120);
    font-size: small;
    text-align: center;
    font-weight:bolder;
}
.textWelcome, a{
    color:rgb(0,0,0);
    font-size: medium;
    text-align: center;
    font-weight:bolder;
    }

.formBox{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 5px;
    height: 8%;
    width: 98%;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
    border: 1px solid #fff;
    outline: none;
    background: #fff;
    }
.loginForm{
    position: relative;
    background: rgba(255,227,179,255);
    padding: 5px 5px;
    font-family: helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    width: 94%;
    height: 35%;
    left: 3%;
    margin-top: 370px;
}
.SingUpBox{
    position: relative;
    background: rgba(255,227,179,255);
    font-family: helvetica, sans-serif;
    text-align: center;
    border-radius:10px;
    width: 80%;
    left: 15%;
}
.form-control{
    position: relative;
    right: 1px;
    padding: 10px 0px 0px 0px;
    font-family: helvetica, sans-serif;
    text-align: center;
    border-radius:10px;
    min-width:100%;
    height: 60%;
    border: 1px solid #fff;
    outline: none;
    background: #fff;
}
.form-login{
    padding: 5px 5px 5px 5px;
}
.signUpForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: rgba(255,227,179,255);
    padding: 5px 5px;
    font-family: helvetica, sans-serif;
    border-radius:10px;
    width: 100%;
    height: 89%;
    margin-top: 90px;
    margin-left: 1%;
}
.passwordContainer{
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
}

.create-Post{
    display: flex;
    flex-direction: column;
    background: rgba(255,227,179,255);
    font-family: helvetica, sans-serif;
    border-radius:10px;
    width: 96vw;
    height: 40%;

}
.welcome-wrapper{
    padding:0.1em;
    margin-top: 10px;
}
.form-error-none{
    font-size: medium;
    text-align: center;
    padding: 3px 3px 3px 3px;
    }
#password{
    margin-top: 10px;
}
#create-Post {
    background: white;
    border: 3px solid rgba(100,201,167,255);
    padding: 5px 5px 5px 5px;
    font-family: helvetica, sans-serif;
    border-radius:10px;
    width:100vw;
    align-items: center;
}
#post-Container{
    text-align: center;
    background: white;
    border: 3px solid rgba(100,201,167,255);
    padding: 5px 5px 5px 5px;
    font-family: helvetica, sans-serif;
    border-radius:10px;
    text-align: center;
    width:100vw;
    margin-top: 10px;
    left: 1%;
    align-items: center;
}
#interaction{
    text-align: center;
    background: white;
    border: 3px solid rgba(100,201,167,255);
    padding: 5px 5px 5px 5px;
    font-family: helvetica, sans-serif;
    border-radius:10px;
    text-align: center;
    width:100vw;
    margin-top: 10px;
    left: 1%;
    align-items: center;
}
#btn-publicar {
    width: 25%;
    height: 30px;
    border-radius: 8px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color: rgba(100,201,167,255);
    margin: 5px;
}

textarea, #post-public {
    position: relative;
    background: white;
    border-color: #88ddb5;
    padding: 10px 0px 0px 0px;
    font-family: helvetica, sans-serif;
    align-content: center;
    text-align: center;
    border-radius:10px;
    width: 97vw;  /* Or whatever */
    height: 50%;
}
.post-public {
    position: relative;
    background: white;
    padding: 10px 10px 10px 10px;
    font-family: helvetica, sans-serif;
    align-content: center;
    border-radius:10px;
    width: 360px;  /* Or whatever */
    margin-top: 20px;
    left: 210px;
}
.btn-borrar {
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 30px;
    border-radius: 8px;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color: rgba(100,201,167,255);
}
.btn-edit {
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 30px;
    border-radius: 8px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color: rgba(100,201,167,255);
}

.cerrar-sesion{
    width:70px;
    height:50px;
    display: flex;
    justify-content: center;
    margin-top: -10em;
    margin-inline: 1200px;
}
/* navbar */
:root {
    --green: #88ddb5;
}

#navbar {
    width: 100vw;
}
header {
    background-color: #fcfcfc;
}
ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    padding: 5px 0px 0px 0px;
}

li a {
    padding-right: 3em;
    position: relative;
    transition: all ease-in-out 250ms;
}
li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--pink);
    bottom: -1em;
    transition: all ease-in-out 250ms;
}
li a:hover::after {
    width: 60%;
}

li a:hover {
    color: var(--pink);
}

li:first-child {
    margin-right: auto;
    margin-left: 10px;
}