*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#fondo {
    width: 370px;
    height: 520px;
    background: white;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
  }

.logo-destinos1{
    width:70%;
    height:30%;
    position: absolute;
    top: 10px;
    left: calc(30% - 50px);
}

/* home */
 #welcome{
position: relative;
top: 30%;
} 

button{
    justify-content:center;
    margin-top: 7px;
    width: 45%;
    height: 30px;
    border-radius: 8px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color:  rgba(100,201,167,255);
    }

p{
    color:rgb(0, 0, 0);
    padding: 5px;
    margin: 10px;
    font-size: xx-large;
    text-align: center;
    font-weight:bolder;
    }
    
.textWelcome, a{
    color:rgb(4,);
    font-size: small;
    text-align: center;
    font-weight:bolder;
    }

.flexbox{
    display: flex;
    justify-content: center; 
    column-gap: 10px;
}

/* Login */
.loginForm{
    position: relative;
    top: 15%;
   left: 20px;
    justify-content: space-between;

}
.SingUpBox{
    position: relative;
    padding: 10px 10px 10px 10px;
    font-family: helvetica, sans-serif;
    text-align: center;
    border-radius:10px;
    width: 80%;  /* Or whatever */
    height: 50%;
    top: 35%;
    left: 5%;
}
.form-control{
    position: relative;
    margin-left: -5%;
    padding: 5px 5px 5px 5px;
    font-family: helvetica, sans-serif;
    text-align: center;
    border-radius:10px;
    min-width:60%;
    height: 60%;
    border: 1px solid rgba(255,227,179,255);
    outline: none;
    background: rgba(255,227,179,255)
}
#iniciar-sesion #registrarse{
    font-size: x-large;
    text-align: center;
 
}


.form-login{
    padding: 5px 5px 5px 5px;
} 
/* register */
.signUpForm{
    position: relative;
    top: 15%;
   left: 20px;
    justify-content: space-between;


}  
 .create-Post{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(255,227,179,255);
    padding: 0.5em 0.5em;
    font-family: helvetica, sans-serif;
    border-radius:10px;
    width: 70%;  
    height: 40%;
    margin-top: -20px;
    margin-left: 15%;
}
.welcome-wrapper{
    padding:0.1em
}
.form-error-none{
    font-size: medium;
    text-align: start;
    padding: 10px 10px 10px 10px;
    }
#create-Post {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    margin-inline: -300px;
}
#btn-publicar {
    margin-top: 11em;
    width: 15%;
    height: 30px;
    border-radius: 8px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color: rgba(100,201,167,255);
    margin: 2em;
}
#post-public {
    position: relative;
    background: rgba(255,227,179,255);
    padding: 10px 10px 10px 10px;
    font-family: helvetica, sans-serif;
    align-content: center;
    border-radius:10px;
    width: 80%;  /* Or whatever */
    height: 50%;
    top: 28%;
    left: 15%;
}
#btn-borrar {
    width: 15%;
    height: 30px;
    border-radius: 8px;
    background: none;
    background-color: rgba(100,201,167,255);
    color: white;
    font-size: 12px;
    border-color: rgba(100,201,167,255);
    margin: 2em;
    margin-left: 40%;
}

.cerrar-sesion{
    width:70px;
    height:50px;
    display: flex;
    justify-content: center;
    margin-top: -10em;
    margin-inline: 1200px;
}
 
/* navbar */
:root {
    --pink: #88ddb5;
  }
  
  #navbar {
    width: 100vw;
    background-color: #fcfcfc;
    font-weight: bold;
  
  }
    ul {
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1em 0;
    }
  
    li a {
      padding-right: 3em;
      position: relative;
      transition: all ease-in-out 250ms;
    }
  button{
    background-color: transparent;
          border: none;
  }
  
    li a::after {
      content: "";
      position: absolute;
      display: block;
      height: 0.4em;
      width: 0%;
      background-color: var(--pink);
      bottom: -1em;
      transition: all ease-in-out 250ms;
    }
  
    li a:hover::after {
      width: 60%;
    }
  
    li a:hover {
      color: var(--pink);
    }
  
    li:first-child {
      margin-right: auto;
      margin-left: 3em;
    }